<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341848629284-thfrlal9k8cuh4s5pct1gg8uliim4aiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341848629284-thfrlal9k8cuh4s5pct1gg8uliim4aiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDdJL5SLNE9K37UBzjhLrnp-LcNNZaWr88</string>
	<key>GCM_SENDER_ID</key>
	<string>341848629284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testWidget</string>
	<key>PROJECT_ID</key>
	<string>testwidget-b57cf</string>
	<key>STORAGE_BUCKET</key>
	<string>testwidget-b57cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341848629284:ios:b447ecde797783cbba38b1</string>
</dict>
</plist>